body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.info.legend {
  background: rgba(241, 241, 241, 0.9); /* Light background */
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  border: 2px solid #ccc;
  height: auto;
  width: 120;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.info.legend i {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 10px;
}

.info.legend div {
  margin-bottom: 10px; /* Add spacing between individual legend entries */
}

.info.legend div:last-child {
  margin-bottom: 0; /* Remove margin on the last item */
}

/* Optional: Style the numbers next to the color swatches */
.info.legend span {
  font-weight: bold;
}